.text-image-box{
    margin-bottom:100px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    .image{
        display: block;
        width:100%;
    }
    > *{
        width: 48.5%;
    }
}

.reverse-direction{
    flex-direction: row-reverse;
}