@import '../../styles/utils/breakpoints.scss';

.text-image-box{
    margin-bottom:100px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    .image{
        display: block;
        width:100%;
        margin-bottom:20px;
        @include breakpoint(sm){
            margin:0;
        }
    }
    > *{
        width:100%;
        @include breakpoint(sm){
            width: 48.5%;
        }
    }
    @include breakpoint(sm){
        flex-direction: row;
    }
}

.reverse-direction{
    flex-direction: column-reverse;
    @include breakpoint(sm){
        flex-direction: row-reverse;
    }
}

.full-width-content{
    > *{
        @include breakpoint(sm){
            width:100%;
        }
    }
}