.background-image{
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    z-index:-1;
    position:absolute;
    top:0%;
    left:50%;
    transform:translate(-50%, 0%);
    object-fit:cover;
}