.background-image{
    width:100%;
    overflow: hidden;
    z-index:-1;
    position:absolute;
    top:0%;
    left:50%;
    transform:translate(-50%, 0%);
    > img{
        width:100%;
        height:100%;
    }
}