@import '../../styles/utils/breakpoints.scss';

.see-more-button{
  text-align: center;
  margin-top:50px;
}

.reference-item{
  max-height:0;
  transition:2s;
  @include breakpoint(lg){
    max-width:1200px;
    margin:auto;
  }
}

.visible-item{
  max-height:200vh;
}