.nav-link{
    padding:40px 10px 25px;
    position: relative;
    font-size:1.5rem;
    margin-bottom:0;
    a{
        text-decoration: none;
        text-transform: uppercase;
    }
    li:hover > svg path{
        fill:#005b96;
    }
}

.sub-links{
    flex-direction: column;
    display:none;
    position:absolute;
    top:86.2px;
    width: max-content;
    margin:0;
    padding:0;
    padding-left:7.5px;
    padding-bottom: 15px;
    a {
        font-size: 1.3rem;
        padding-right:15px;
    }
}
.nav-link:hover{
    > .sub-links{
        display: flex;
    }
    > svg path{
        fill:#005b96;
    }
}