@import '../../styles/utils/breakpoints.scss';

.nav-link{
    padding:40px 10px 15px;
    position: relative;
    font-size:1.5rem;
    margin-bottom:0;
    > a{
        @include breakpoint(sm){
            font-size:1rem;
        }
        @include breakpoint(lg){
            font-size:unset;
        }
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
    }
    li:hover > a > svg path{
        fill:#47A8D7;
    }
}

.sub-links{
    flex-direction: column;
    display:none;
    position:absolute;
    top:71.2px;
    width: max-content;
    margin:0;
    padding:0;
    padding-top:15px;
    padding-left:15px;
    padding-bottom: 10px;
    transition:0.1s;
    background:rgba(255, 255, 255, 0.2);
    a {
        font-size: 1.3rem;
        padding-right:15px;
    }
}
.nav-link:hover{
    > .sub-links{
        display: flex;
    }
    > a {
        color:#47A8D7;
        > svg path {
            fill:#47A8D7;
        }
    }
}

.active{
    color:#47A8D7;
    > svg path{
        fill:#47A8D7;
    }
}