.property-filter{
  width:100%;
  padding:20px;
  min-width:170px;
  label {
    padding-left:10px;
    display: flex;
    align-items: center;
    margin-bottom:10px;
    font-size:1.3rem;
    > input{
      margin-right: 5px;
    }
  }

  select{
    width:100%;
    width:calc(100% - 20px);
    padding:7.5px;
    margin-left:10px;
    margin-right:10px;
    font-size:1.3rem;
  }
  
  fieldset{
    border:none;
  }

}

.row-spaced-between{
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  label {
    align-items: flex-end;
    min-width:120px;
    width:40%;
    max-width:150px;
  }
  input{
    margin-left:10px;
  }
}

.short-underline-input{
  width:100%;
  border:none;
  border-bottom:1px solid #707070;
}