@import '../../styles/utils/breakpoints.scss';

.aside-nav-container{
    width:100%;
    ul{
        list-style: none;
        margin:0;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @include breakpoint(sm){
            flex-wrap: unset;
        }
    }
    @include breakpoint(sm){
        width:unset;
    }
}

.rotated{
    @include breakpoint(sm){
        display: flex;
        flex-direction: column;
    }
}