@import '../../styles/utils/breakpoints.scss';

.container{
  padding:25px 15px;
  @include breakpoint(sm){
    padding:50px 85px;
    overflow: hidden;
  }
}

.icons-container{
  width:100%;
  display:flex;
  flex-direction:column;
  align-items: center;
  @include breakpoint(sm){
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.icon-card{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: flex;
  align-items: center;
  margin-bottom:50px;
  > div:first-of-type{
    display: flex;
    overflow: visible !important;
    max-width: 100%;
    @include breakpoint(sm){
      max-width: unset;
      height:150px !important;
    }
    @include breakpoint(lg){
      height: 250px !important;
      max-width: unset;
    }
    img{
      height:150px !important;
      top:50% !important;
      left:50% !important;
      transform: translate(-50%, -50%);
      width:auto !important;
      @include breakpoint(sm){
        height:100px !important;
        bottom:0%;
        transform: translate(-50%, 0);
        top:unset !important;
      }
      @include breakpoint(lg){
        height:195px !important;
      }
    }
  }
  @include breakpoint(sm){
    width:22%;
    padding:15px 1.5%;
  }
}