.sub-links{
    max-height:0;
    overflow: hidden;
    margin-left:15px;
    transition:0.5s;
}

.visible{
    padding-top:10px;
    max-height:100vh;
}

.nav-link{
    list-style: none;
    margin-bottom:25px;
    > a {
        font-size: 2rem;
    }
    a{
        text-decoration: none;
        text-transform: uppercase;
    }
}