@import '../../styles/utils/breakpoints.scss';

.primary-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    width:100%;
    position:fixed;
    top:0;
    z-index:5;
    transition:0.1s;
    ul{
        list-style-type: none;
    }
    > ul{
        display: none;
        margin:0;
        @include breakpoint(lg){
            display: flex;
        }
    }
    @include breakpoint(lg){
        padding:unset;
        padding-top:15px;
        justify-content: center;
        align-items: unset;
    }
}