@import '../../styles/utils/breakpoints.scss';

.primary-menu, .menu-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    width:100%;
    position:fixed;
    top:0;
    z-index:5;
    transition:0.1s;
    background:white;
    z-index:10;
    ul{
        list-style-type: none;
    }
    > ul{
        display: none;
        margin:0;
        @include breakpoint(sm){
            display: flex;
        }
    }
    @include breakpoint(sm){
        padding:unset;
        padding-top:15px;
        justify-content: center;
        align-items: flex-end;
    }
}

.menu-container{
    position: relative;
    padding:0;
    @include breakpoint(lg){
        width:auto;
        justify-content: space-between;
        min-width:60vw;
    }
}

.primary-menu{
    height:100vh;
    padding:0;
    align-items: center;
    justify-content: center;
}

.relative-menu{
    width:100%;
    padding:10px 15px;
    @include breakpoint(lg){
        width:unset;
        padding:unset;
    }
}