.button-bordered{
    font-size:1.5rem;
    > a{
        text-decoration: none;
    }
    > a:hover{
        color:#888888;
    }
    *{
        color: #888888;
    }
    border:2px solid black;
    padding: 5px 20px;
}