.button-bordered{
    font-size:1.5rem;
    color: #888888;
    > a{
        text-decoration: none;
        color: #888888;
    }
    > a:hover{
        color:#000000;
    }
    *{
        color: #888888;
    }
    border:2px solid black;
    padding: 5px 20px;
}

.button-bordered:hover{
    color:#000000;
}