@import './utils/breakpoints.scss';

html{
    font-size:10px;
    *{
        color:black;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
    }
}

button{
    background: none;
    border:none;
    cursor: pointer;
}

h1{
    font-weight:800;
    font-size:3.85rem;
    @include breakpoint(lg){
        font-size: 7rem;
    }
}

h2{
    font-size: 2.5rem;
    font-weight:500;
    @include breakpoint(sm){
        font-size: 3.5rem;
    }
    @include breakpoint(lg){
        font-size:6.5rem;
    }
}

h3{
    font-size:2.5rem;
    @include breakpoint(lg){
        line-height: 5rem;
        font-size:3rem;
    }
}

h5{
    font-size: 1.5rem;
    font-weight: 800;
}

p{
    font-size:1.5rem;
    line-height: 2.75rem;
}

a, span{
    font-size:1.5rem;
}

a:hover{
    color:#47A8D7;
}