html{
    font-size:10px;
    *{
        color:black;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
    }
}

button{
    background: none;
    border:none;
    cursor: pointer;
}

h1, h2{
    font-size: 6.5rem;
}

h3{
    font-size:3rem;
}