html{
    font-size:10px;
    *{
        color:black;
        font-family: 'Nunito', Arial, Helvetica, sans-serif;
    }
}

button{
    background: none;
    border:none;
    cursor: pointer;
}

h1{
    font-size: 7rem;
    font-weight:800;
}

h2{
    font-size: 6.5rem;
    font-weight:500;
}

h3{
    font-size:3rem;
    line-height: 5rem;
}

h5{
    font-size: 1.5rem;
    font-weight: 800;
}

p{
    font-size:1.5rem;
    line-height: 2.75rem;
}

