@import '../styles/utils/breakpoints.scss';

.reference-button-container{
    text-align: center;
    margin-top:50px;
    @include breakpoint(lg){
        text-align: right;
        margin-top:unset;
    }
}