@import '../../styles/utils/breakpoints.scss';

.see-more-container{
    max-height:14rem;
    overflow: hidden;
    padding-bottom: 50px;
    position: relative;
    transition: 0.5s;
    @include breakpoint(sm){
        max-height: 8.25rem;
    }
    @include breakpoint(lg){
        max-height:10rem;
    }
}

.add-more-button{
    display: flex;
    align-items: center;
    padding:0;
    > img{
        display: inline-block;
        width:30px;
        height:30px;
    }
    > p{
        width:100%;
        margin:0;
    }
}

.extended{
    max-height: 500vh;
}

.not-visible{
    display: none;
}