@import '../../styles/utils/breakpoints.scss';

.contact-form{
    position:relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
    background:white;
    border:2px solid #1995D2;
    padding: 25px 25px;
    max-width: 450px;
    min-width:300px;
    margin-bottom:0;
    > input, > textarea{
        border-color:#1995D2;
        margin-bottom:10px;
        width:100%;
        color:#1995D2;
    }
    .send-button{
        width:50px;
    }
    .childContainer{
        width:100%;
    }
}

.error-message, .success-message{
    max-width:246px;
    padding:15px;
    margin:0;
    margin-top:10px;
    text-align: center;
}

.error-message{
    background:rgba(255, 0, 0, 0.5);
}

.success-message{
    background:rgba(0, 255, 0, 0.5);
}

.loading-indicator-container{
    position:relative;
    height:50px;
    max-width:246px;
}

.loading-indicator{
    border-radius: 50%;
    width:25px;
    height:25px;
    background:#1995D2;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    animation: loading 1s infinite;
}

@keyframes loading{
    0%{
        transform: translate(-50%, -50%) scale(0.7);
    }
    50%{
        transform: translate(-50%, -50%) scale(1.3);
    }
    100%{
        transform: translate(-50%, -50%) scale(0.7);
    }
}