@import '../../styles/utils/breakpoints.scss';

.square-container{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0;
    li{
        margin-bottom:20px;
        width:47.5%;
        @include breakpoint(sm){
            width:160px;
        }
        @include breakpoint(lg){
            width: 220px;
        }
    }
}

.less-children li{
    width:65%;
    margin-bottom:15px;
    @include breakpoint(sm){
        width:220px;
    }
    @include breakpoint(lg){
        width:300px;
    }
}