@import '../../styles/utils/breakpoints.scss';

.contact-form-section{
  min-height:80vh;
  position: relative;
  margin-bottom:240px;
  @include breakpoint(sm){
    padding-bottom: 0;
  }
}

.info-content{
  margin-top:20px;
  display:flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
  position:relative;
  .info-buttons{
    button{
      color:#1995D2;
    }
  }
  img{
    height:50px;
    margin-bottom:20px;
  }
  h2{
    font-size:3rem;
  }
  p{
    font-size: 1.5rem;
    color:#1995D2;
    margin:0;
  }
  @include breakpoint(sm){
    margin-top:0;
  }
}

.info-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:20px;
}

.contact-form-and-info-wrapper{
  padding:40px 0px;
  margin:0 auto;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  margin-top:50px;
  @include breakpoint(sm){
    margin-top:0;
    flex-direction: row;
    justify-content: space-evenly;
  }
  @include breakpoint(lg){
    width:800px;
  }
}

.contact-heading{
  font-size:2rem;
  color:#1995D2;
}

@keyframes sun {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(85px)}
  75%  {transform: translateY(-15px)}
  100% {transform: translateY(0)}
}

.sun {
  animation: sun 10s linear infinite;
}

@keyframes lights
{0% {opacity:1;} 50%{opacity:0;} 100%{opacity:1;}} 

.lights {
  animation: lights 2s infinite ease-in-out; }


@keyframes star {
  0%   {transform: translateY(0)}
  25%  {transform: translateY(15px)}
  75%  {transform: translateY(-15px)}
  100% {transform: translateY(0)}
}

.star {
  animation: star 10s linear infinite;
}

.illustration{
  position:absolute;
  width:100%;
  opacity:0.1;
  overflow: hidden;
  bottom:0;
  left:50%;
  transform: translate(-50%, 85%);
  @include breakpoint(sm){
    bottom:unset;
    width:100%;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
  }
  @include breakpoint(lg){
    width:50vh;
  }
}

.contact-form-container{
  display: none;
  @include breakpoint(sm){
    display: flex;
      height:auto;
      z-index:1;
  }
}

.mobile-form{
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:1;
  background:white;
  @include breakpoint(sm){
      display:none;
  }
}