@import '../../styles/utils/breakpoints.scss';

.section{
    max-width: 940px;
    margin:auto;
    margin-top:80px;
    margin-bottom:80px;
    padding:25px;
    position: relative;
    @include breakpoint(lg){
        padding:unset;
        margin-top:130px;
        margin-bottom:130px;
    }
}

.full-width{
    @include breakpoint(lg){
        max-width:100%;
    }
}