@import '../../styles/utils/breakpoints.scss';

.big-image-section{
    min-height:85vh;
    position: relative;
    overflow: hidden;
    padding:50px 25px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom:130px;
    margin-top:130px;
    > h3{
        width:100%;
        text-align: center;
        @include breakpoint(sm){
            width:400px;
        }
    }
    @include breakpoint(sm){
        padding:50px;
        justify-content: center;
    }
}