@import '../../styles/utils/breakpoints.scss';

.text-content{
  margin-bottom:30px;
  @include breakpoint(sm){
    margin-bottom:60px;
  }
}

.image{
  width:100%;
  margin:auto;
  @include breakpoint(sm){
    width:70%;
  }
}