@import '../styles/utils/breakpoints.scss';

.logo-container{
    width:30%;
    z-index:5;
    @include breakpoint(lg){
        width:150px;
        margin-left:30px;
    }
}

.footer-info-content{
    display:flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    > img{
        height:50px;
        margin-bottom:20px;
    }
    > h2{
        font-size:3rem;
    }
    > p{
        font-size: 1.5rem;
        color:#888888;
        > span{
            color:#888888;
        }
    }
}

.footer-navigation{
    display:flex;
    margin-top:50px;
    @include breakpoint(lg){
        position:absolute;
        right:-100px;
        top:50%;
        transform:translate(0, -50%) rotateZ(-90deg);
    }
}

.main-content-navigation{
    position: sticky;
    top:40px;
    bottom:50px;
    width:1px;
    height:100vh;
    z-index:5;
}

.navigation-sticky-container{
    display:none;
    @include breakpoint(lg){
        display:flex;
        position:absolute;
        right:-100px;
        top:50%;
        transform:translate(0, -50%) rotateZ(-90deg);
    }
}

.main-content{
    flex-grow: 1;
    width: 100%;
}

main{
    display:flex;
    justify-content: center;
    width:100%;
}

.contact-form-container{
    position:absolute;
    top:50%;
    right:0%;
    transform:translate(0%, -50%);
    width:350px;
    height:auto;
    padding-right:20px;
    z-index:20;
}

.social-icons{
    display:flex;
    align-items: center;
    position:absolute;
    padding-right:20px;
    top:50%;
    right:0;
    transform:translate(0, -50%);
    width:auto;
    height:50px;
    a{
        width:30px;
        margin-left:5px;
        transition:0.3s;
    }
    a:hover{
        transform:scale(1.2);
    }
}

.mobile-form{
    display:none;
    @include breakpoint(xs){
        display: flex;
        align-items: center;
        justify-content: center;
        z-index:4;
        background:#1995D2;
        padding:15px;
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        overflow: auto;
    }
}

.mobile{
    h5{
        margin:0;
    }
    @include breakpoint(lg){
        display:none;
    }
}

.mobile-menu{
    position:fixed;
    display:flex;
    flex-direction: column;
    top:0;
    left:0;
    padding:85px 15px;
    background: white;
    z-index:0;
    width:100%;
    height:100vh;
    overflow: auto;
    transform: translateY(100%);
    opacity:0;
    transition:0.5s;
}

.mobile-menu-active{
    opacity:1;
    transform:translateY(0%);
}

.close-mobile-menu-button{
    position:absolute;
    top:10px;
    right:15px;
}