@import '../../styles/utils/breakpoints.scss';

.sorting-settings{
  > label{
    display:flex;
    flex-direction: column;
    @include breakpoint(lg){
      flex-direction: row;
    }
    > * {
      display: flex;
      align-items: center;
      margin-bottom:10px;
      @include breakpoint(lg){
        margin-left:15px;
        margin-bottom:0px;
      }
    }
  }
  
  .sorting-description, select{
    padding: 5px 10px;
    width:100%;
  }

  .sorting-description{
    min-width: max-content;
    max-width: max-content;
  }
  
  .select-container{
    min-width: max-content;
    width:100%;
  }

  select{
    border:none;
    display: flex;
    width:100%;
  }
}