@import '../../styles/utils/breakpoints.scss';

.reference{
    margin-top:75px;
    >h3{
        font-size:1.5rem;
        text-transform: uppercase;
    }
    .text-overlay{
        width:100%;
        @include breakpoint(sm){
            min-height:10px;
            width:380px;
            transform:translate(0, -50%);
            position:absolute;
            right:40px;
            top:50%;
        }
    }
    .reference-image{
        position: relative;
        .reference-video{
            @include breakpoint(xs){
                display:block;
            }
        }
    }
    blockquote{
        font-size:3rem;
        text-transform: uppercase;
        margin:0;
    }
    .reference-video{
        position:absolute;
        width:100%;
        height:100%;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        z-index:2;
        display:none;
        > button{
            background:white;
            position:absolute;
            right:0;
            top:50%;
            transform:translate(0, -50%);
            > img{
                margin-right:0;
            }
            z-index:10;
        }
        > button:hover{
            transform:scale(1.1) translate(0, -50%);
        }
    }
    figure > .reference-video{
        @include breakpoint(sm){
            display: unset;
        }
    }
    button{
        font-size:1.75rem;
        font-weight: 800;
        margin-top:30px;
        display:flex;
        align-items: center;
        > img{
            height:4rem;
            margin-right: 15px;
        }
        transition:transform 0.25s;
    }
    button:hover{
        transform:scale(1.1);
    }
    @include breakpoint(sm){
        position: relative;
    }
}

.overlay-styled-container{
    background: rgba(255, 255, 255, 0.5);
    padding:50px 25px;
    width:100%;
    height:100%;
    transition: 1s;
}


.overlay-styled-container:hover{
    border-radius:30px;
}