@import '../../styles/utils/breakpoints.scss';


.see-more-button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  height:100%;
  align-items: center;
  flex-direction: column;
  @include breakpoint(sm){
    justify-content: center;
  }
  @include breakpoint(lg){
    flex-direction: row;
  }
}

.sticky-filter-container{
  width:100%;
  margin-bottom:10px;
  height:100%;
  @include breakpoint(sm){
    width:50%;
    align-self: center;
  }
  @include breakpoint(lg){
    align-self:unset;
    margin-bottom:0;
    top:15vh;
    left:0;
    width:1px;
    position:sticky;
  }
}

.properties{
  h2{
    font-size:3rem;
  }
  @include breakpoint(lg){
    max-width:50vw;
  }
}

.filter-container{
  background-color: white;
  width:100%;
  position: relative;
  @include breakpoint(lg){
    width:15vw;
    right:16.5vw;
  }
}

.row-spaced{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column-reverse;
  @include breakpoint(lg){
    flex-direction: row;
  }
}

.info-and-sorting{
  margin:auto;
  margin-bottom:100px;
  width:100%;
  @include breakpoint(sm){
    width:50%;
  }
  @include breakpoint(lg){
    width:100%;
  }
}

.property{
  *{
    text-decoration: none;
  }
  h3{
    line-height:3rem;
  }
}